<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>BIPUPU</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>bipupu_flutter</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to microphone for speech recognition.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>我们需要访问您的相册以设置头像</string>
	<key>NSCameraUsageDescription</key>
	<string>我们需要使用您的相机以拍摄头像照片</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	
	<!-- Bluetooth Permissions -->
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Need Bluetooth to connect to pager devices.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Need Bluetooth to connect to pager devices.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Need Location to scan for devices in background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Need Location to scan for devices.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Need Location to scan for devices in background.</string>

	<!-- Background Modes -->
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>

	<!-- Notification Permissions (iOS 12+) -->
	<key>NSUserNotificationUsageDescription</key>
	<string>我们需要通知权限以提醒您收到新消息</string>

	<!-- Health Kit (可选，如未来需要健康数据集成) -->
	<!-- <key>NSHealthShareUsageDescription</key>
	<string>我们需要访问健康数据以提供健康相关功能</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>我们需要更新健康数据以记录您的活动</string> -->
</dict>
</plist>
